@model Item

<label class="col-md-3 label-control" for="Price">selling price
        : </label>
<div class="col-md-9">
    <input type="text" value="@Model.SellingPrice" for="Price" id="Price" class="form-control" name="Price">
</div>