

<label class="col-md-3 label-control" for="Price">Billing Number
        : </label>
<div class="col-md-9">
    <input type="text" value="@ViewBag.number" readonly for="BillsNumber" id="BillsNumber" name="BillsNumber" class="form-control" >
</div>