


<label class="col-md-3 label-control" >Number : </label>
<div class="col-md-9">
    <input value="@ViewBag.number" for="Number" id="Number" name="Number" type="text"  class="form-control">
    <span  class="text-danger"></span>
                                                            
</div>